{% extends 'admin/login.html' %}
{% load i18n %}

{% block branding %}
    <div class="suit-login-graphic">
        <svg
           xmlns="http://www.w3.org/2000/svg"
           width="400"
           height="76.992363"
           id="svg2"
           version="1.1">
          <defs
             id="defs4">
            <inkscape:perspective
               sodipodi:type="inkscape:persp3d"
               inkscape:vp_x="0 : 526.18109 : 1"
               inkscape:vp_y="0 : 1000 : 0"
               inkscape:vp_z="744.09448 : 526.18109 : 1"
               inkscape:persp3d-origin="372.04724 : 350.78739 : 1"
               id="perspective3009" />
          </defs>
          <g
             inkscape:label="Layer 1"
             inkscape:groupmode="layer"
             id="layer1"
             transform="translate(34.317333,-561.49314)">
            <g
               id="g3800">
              <g
                 id="g3437"
                 transform="matrix(0.55691583,0,0,0.55691583,-12.990008,265.84568)">
                <g
                   id="text2996"
                   style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:40px;line-height:125%;font-family:StereoGothic-500;-inkscape-font-specification:StereoGothic-500;letter-spacing:0px;word-spacing:0px;fill:#16adc2;fill-opacity:1;stroke:none">
                  <path
                     id="path3379"
                     style="font-size:72.5px;fill:#16adc2;fill-opacity:1"
                     d="m 50.504494,582.15582 7.6125,0 0,50.75 -7.975,0 0,-39.73 -35.7425,37.7725 -35.7425,-37.7725 0,39.73 -7.975,0 0,-50.75 7.6125,0 36.105,37.99 36.105,-37.99 z"
                     inkscape:connector-curvature="0" />
                  <path
                     id="path3381"
                     style="font-size:72.5px;fill:#16adc2;fill-opacity:1"
                     d="m 75.025354,632.90582 0,-40.6 7.1775,0 0,40.6 -7.1775,0 z"
                     inkscape:connector-curvature="0" />
                  <path
                     id="path3383"
                     style="font-size:72.5px;fill:#16adc2;fill-opacity:1"
                     d="m 105.56711,592.30582 0,34.365 53.07,0 0,6.235 -60.247499,0 0,-40.6 7.177499,0 z"
                     inkscape:connector-curvature="0" />
                  <path
                     id="path3385"
                     style="font-size:72.5px;fill:#16adc2;fill-opacity:1"
                     d="m 177.0759,592.30582 0,34.365 53.07,0 0,6.235 -60.2475,0 0,-40.6 7.1775,0 z"
                     inkscape:connector-curvature="0" />
                  <path
                     id="path3387"
                     style="font-size:72.5px;fill:#16adc2;fill-opacity:1"
                     d="m 241.40719,632.90582 0,-40.6 61.48,0 0,6.235 -54.3025,0 0,11.31 47.995,0 0,5.51 -47.995,0 0,11.31 54.3025,0 0,6.235 -61.48,0 z"
                     inkscape:connector-curvature="0" />
                  <path
                     id="path3389"
                     style="font-size:72.5px;fill:#16adc2;fill-opacity:1"
                     d="m 381.85442,632.90582 -6.815,0 -51.5475,-32.5525 0,32.5525 -7.1775,0 0,-40.6 6.815,0 51.5475,32.5525 0,-32.5525 7.1775,0 0,40.6 z"
                     inkscape:connector-curvature="0" />
                  <path
                     id="path3391"
                     style="font-size:72.5px;fill:#16adc2;fill-opacity:1"
                     d="m 463.70012,632.90582 -6.815,0 -51.5475,-32.5525 0,32.5525 -7.1775,0 0,-40.6 6.815,0 51.5475,32.5525 0,-32.5525 7.1775,0 0,40.6 z"
                     inkscape:connector-curvature="0" />
                  <path
                     id="path3393"
                     style="font-size:72.5px;fill:#16adc2;fill-opacity:1"
                     d="m 480.00582,632.90582 0,-40.6 7.1775,0 0,40.6 -7.1775,0 z"
                     inkscape:connector-curvature="0" />
                  <path
                     id="path3395"
                     style="font-size:72.5px;fill:#16adc2;fill-opacity:1"
                     d="m 509.02508,614.20082 q 0,6.3075 3.9875,9.715 3.9875,3.335 14.2825,3.335 l 15.225,0 q 5.365,0 8.99,-0.9425 3.6975,-0.9425 5.655,-2.755 2.03,-1.8125 2.8275,-4.06 0.7975,-2.2475 0.7975,-5.2925 l 0,-21.895 7.1775,0 0,21.895 q 0,9.135 -5.8,14.21 -5.8,5.075 -19.575,5.075 l -15.37,0 q -13.775,0 -19.575,-5.075 -5.7275,-5.075 -5.7275,-14.21 l 0,-21.895 7.105,0 0,21.895 z"
                     inkscape:connector-curvature="0" />
                  <path
                     id="path3397"
                     style="font-size:72.5px;fill:#16adc2;fill-opacity:1"
                     d="m 663.35606,582.15582 7.6125,0 0,50.75 -7.975,0 0,-39.73 -35.7425,37.7725 -35.7425,-37.7725 0,39.73 -7.975,0 0,-50.75 7.6125,0 36.105,37.99 36.105,-37.99 z"
                     inkscape:connector-curvature="0" />
                </g>
                <path
                   style="fill:#fca20d;fill-opacity:1"
                   d="m 476.15131,566.49314 19.88737,6.8309 -19.88737,6.8309 z"
                   id="rect3025"
                   inkscape:connector-curvature="0"
                   sodipodi:nodetypes="cccc" />
              </g>
            </g>
          </g>
        </svg>
    </div>
    {{ block.super }}
{% endblock %}

{% block footer %}
    <p style="margin: 0; padding: 1rem 0; background-color: #F1F1F1">
        <span class="text-muted">Development System. For access contact martin@pc-coholic.de</span>
    </p>
    {{ block.super }}
{% endblock %}

